APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:B06czFizxctnMuCg/Z5ve1zaBOrwh9ICBGgxfbT4iXk=
APP_DEBUG=true
APP_URL=http://backend_hms.test

HEADLESS_MODE=false
DEFAULT_THEME=emerald_slate
APP_DIRECTION=ltr
PAYMENT_DEFAULT_DRIVER=stripe

FRONTEND_URL=http://localhost:5173
CORS_ALLOWED_ORIGINS="http://localhost:5173"
SANCTUM_STATEFUL_DOMAINS=localhost:5173,127.0.0.1:5173,backend_hms.test,127.0.0.1:3000
SESSION_DOMAIN=127.0.0.1

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=msdb
DB_USERNAME=sakhawat
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# ─── Queue / Cache / Broadcasting ─────────────────────────────────────────────
BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=database

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# ─── Reverb (WebSocket / Broadcasting) ────────────────────────────────────────
REVERB_APP_ID=local
REVERB_APP_KEY=local-key
REVERB_APP_SECRET=local-secret
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_APP_NAME="${APP_NAME}"
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

# ─── OAuth Services ───────────────────────────────────────────────────────────
GOOGLE_CLIENT_ID=579511138758-j5ri3tmdrhi8e1o6r86l866s2li1jmt5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:5173/auth/github/callback

FACEBOOK_CLIENT_ID=773167428757787
FACEBOOK_CLIENT_SECRET=7b92881ace9851d1bd78879a204a2061
FACEBOOK_REDIRECT_URI=https://www.invozen.com/login/facebook/callback

# ─── Payment Gateways ─────────────────────────────────────────────────────────
SSLCOMMERZ_STORE_ID=lites6880e19d90f3c
SSLCOMMERZ_STORE_PASSWORD=Saju0707
SSLCOMMERZ_IS_SANDBOX=true

STRIPE_KEY=pk_test_51SgiUERzeiNSylNYqEZ2kRr9FnEXcEC3s6pB7SOxBvybCBAUVLFNyGen0rzADKCWXOsURHVmu1bCNx7HYFQAMEir00WZRHzpHs
STRIPE_SECRET=sk_test_51SgiUERzeiNSylNYI9lpFliej4tRttrL0U6YuRsOoj9SeegpeLbO6SXudWl8qu7hsPerjjKzvjdokino6njtzApK00WMVYilc9
STRIPE_WEBHOOK_SECRET=whsec_e13e0a2f1ffef6ba2befa75a1ae9722d9c4cf9a3b332fa77ef748ddf249385a2
